* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    font-family: Overpass;
  }
a {
    text-decoration: none;
}
h1, h2, h3 {
    font-family: Chivo;
}
p {
    color: #575050;
}
.banner {
  width: 100%;
  height: 60vh;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h1 {
    color: white;
    font-size: 4rem;
    padding: 10px;
}
.banner p {
  padding: 20px;
    color: white;
    font-size: 2rem;
}
.btn {
    background-color: orangered;
    color: white;
    opacity: .75;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: .3s;
}
.btn:hover {
    background-color: #0D1EC6;
    color: white;
  }

.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.container h2 {
  text-align: center;
  padding: 40px;
  font-size: 2rem;
}
.cards {
  display: flex;
  gap: 30px;
}
.card {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}
.card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
  }
  .card h3 {
    padding: 20px 0;
  }
  footer {
    width: 100%;
    background: #8a8a90;
    text-align: center;
    padding: 24px 0;
    margin: 0 auto;
  }
  
  footer p {
    color: white;
    font-size: 0.5rem;
    padding: 10px 20px;
    font-style: italic;
  }



#skalexid {
    font-size: 0.8rem;
    color: white;
    font-family: monospace;
    font-weight: lighter;
    transition: .3s;
    padding: 5px;
}
#skalexid:hover {
    color: #0D1EC6;
    font-size: 1.4rem;
}
